---
---

@charset "UTF-8";

@import "colors";
@import "variables";
@import "mixins";
@import "normalize";
@import "fonts";
@import "core";
@import "layout";
@import "syntax";

#samsLogo {
    background: url('../images/samlu-logo.svg') 0 0 no-repeat;
    background-size: 180px 35px;
    display: block;
    height: 35px;
    overflow: hidden;
    text-indent: -9999px;
    width: 180px;
}

@media (prefers-color-scheme: dark) {
    #samsLogo {
        background: url('../images/samlu-logo-darkmode.svg') 0 0 no-repeat;
    }
}

