---
---

@charset "UTF-8";

@import "colors";
@import "variables";
@import "mixins";
@import "normalize";
@import "fonts";
@import "core";
@import "layout";
@import "syntax";

#gosammyLogo {
    background: url('../images/gosammy-logo.svg') 0 0 no-repeat;
    background-size: 360px 84px;
    display: block;
    height: 84px;
    overflow: hidden;
    text-indent: -9999px;
    width: 360px;
}

@media (prefers-color-scheme: dark) {
    #gosammyLogo {
        background: url('../images/gosammy-logo-darkmode.svg') 0 0 no-repeat;
    }
}

#copyright {
    @include color-assign(color, secondary-label);
	font-family: $font-poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}
